
  @import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline: none;
}
.container{
       width: 100vw;
    height: 100vh;
  background-image: url(./img/mario-font4.png);
  background-repeat: no-repeat;
  background-position: start;
  background-size: cover;
  cursor: pointer;

}
:root{
    --my-color:#fff;
    --my-font:font-family: 'Fira Sans Extra Condensed', sans-serif;
}
.navlist{ 
    display: flex;
    justify-content: end;
    align-items: safe;
    
    
}

.list{  
    height: 70px;
    position: relative;
    right: 35px;
}


.elementeList li {
    margin-top: 35px;
    margin-left: 25px;
    list-style-type: none;
    display: inline-block;
    font-size: 25px;
}

.elementeList a{
    color: var(--my-color);
    text-transform: none;
    text-decoration: none;
    transition: all 2s;
    padding: 5px;
}
.elementeList a:hover{
    box-shadow: 5px 5px 10px 3px rgba(255, 255, 255, 1);

-webkit-box-shadow: 5px 5px 10px 3px rgba(255, 255, 255, 1);

-moz-box-shadow: 5px 5px 10px 3px rgba(255, 255, 255, 1);
}
.corpo{
  
   
}
.greeting{


  
}
.social-midia{

}